.calendarWrapper {
  width: 100%;
  height: 100%;
}

.fc-header {
  background-color: #f7f7f7;
  color: #444444;
  font-size: 20px;
  text-align: center;
}

.fc-body {
  padding-top: 3rem;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  padding: 0px;
}

.fc-day-header {
  background-color: #f7f7f7;
  color: #444444;
  font-size: 14px;
  text-align: center;
}

.fc-day {
  background-color: #ffffff;
  color: #444444;
  font-size: 12px;
}

.fc-event {
  background-color: #0073b7;
  color: #ffffff;
  font-size: 9px;
  text-align: left;
  padding: 0.25px;
}

.fc-today {
  background-color: #0073b7;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 12px;
}

.fc .fc-toolbar-title {
  font-size: 20px;
  color: #37362f;
}
.fc .fc-button-primary {
  font-size: 0.75rem;
  background-color: #ffffff00;
  color: #acaba9;
  border: none;
  outline: none;
}
.fc .fc-today-button {
  background-color: #ffffff00;
  color: #37362f;
  border: none;
  outline: none;
}
.fc .fc-daygrid-day-top {
  flex-direction: row;
}
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #ffffff00;
  color: #acaba9;
  box-shadow: none;
}
.fc .fc-button-primary:not(:disabled):focus,
.fc .fc-button-primary:not(:disabled).fc-button-focus {
  background-color: #ffffff00;
  color: #acaba9;
  box-shadow: none;
}
.fc .fc-today-button:disabled {
  opacity: 1;
}
